<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-one:war">
    <output-path>$PROJECT_DIR$/springbootone/target</output-path>
    <root id="archive" name="spring-boot-one.war">
      <element id="artifact" artifact-name="spring-boot-one:war exploded" />
    </root>
  </artifact>
</component>