<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--设置控制台展示样式,stdout:标准的输出，控制台输出日志信息-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%p] %m %n</pattern>
        </layout>
    </appender>

    <!--设置根级别-->
    <root level="ERROR">
        <appender-ref ref="stdout"/>
    </root>

    <!--设置指定包的日志级别-->
    <logger name="com.tgram.two.dao" level="DEBUG"/>

    <!-- 日志打印级别：ERROR > WARN > INFO > DEBUG-->
</configuration>